<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlsn:sec="http://www.thymeleaf.org/extras/springsecurity">
    <head>
        <title>Contrasuli</title>
        <meta charset="UTF-8">

        <link href="css/estilos_2.css" rel="stylesheet" type="text/css"/>
        <link href="css/menu_1.css" rel="stylesheet" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header class="logo nav-link" th:replace="layout/plantilla :: header"/>
        <nav th:replace="layout/plantilla :: nav"/>
        
        <div class="container">
            <div class="row">

                <section>
                    <h2>Nosotros</h2>

                    <article>
                        <figure>

                            <img src="/imagen/buses.jpg" alt="imagen buses" width="800"  border="2"/>


                        </figure>
                    </article>  
                </section>
            </div>    
        </div>

        <footer>
            <a2 th:replace="layout/plantilla :: footer"/></a2>
        </footer>


    </body>
</html>
